@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    margin: 0;
    padding: 0;
}

.profile {
    text-align: center;
    margin-top: 50px;
    /* padding: 1rem;  */
}

.profile  {
    width: 25%;
    height: 80%;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
button{
    background-color:hsl(0, 0%, 20%) ;
    width: 100%;
    color: hsl(0, 0%, 100%);
    justify-content: center;
    padding: 10px 90px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border: none;
    
}
button:focus{
    background-color: hsl(75, 94%, 57%);
    color: black;
}




.social-links li {
    display: inline-block;
    margin-right: 10px;

}
.social-links{
    padding: 0;
    
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links img {
    width: 50px;
    height: 50px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    
}
img{
    border-radius:50% ;
    width: 80px;
    height: 80px;
}
h1{
    color: aliceblue;
    font-size: larger;
}
h3{
    color:yellowgreen;
    font-size: small;
    margin: 0;
    margin-bottom: 5px;
}
p{
    color:gray;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 375px) {
    .container {
        padding: 10px; /* Adjusted padding for smaller screens */
    }

    .profile {
        width: 90%; /* Adjusted width for smaller screens */
    }
    
    img {
        width: 60px; /* Adjusted profile image size for smaller screens */
        height: 60px;
    }
}